:root {
    /* Accent color shades */
    --md-accent-fg-color: #FEC925;
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
     
  }
  

img[src*="#shadow"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img[src*="#center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    height:auto;
}

